/* font.css */
@font-face {
  font-family: 'Gotham Book';
  src: url('/fonts/Gotham Book.otf') format('opentype'); /* Adjust the path as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gotham Book', sans-serif; /* Set default font family */
}